<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">

</head>
<body>
    <nav class ="navbar navbar-light" style=" background-color: #21313b;padding-bottom: 0; ">
        <div class="container-fluid">
            <div class=" col-sm-4 col-md-4 navbar-header HE"style=" color:white; display:flex">
                <a href="{%url 'index'%}" style="color:white" class="navbar-brand">Reviews</a>
          
                <div>
                    <a href="{%url 'profile'%}" style="color:white" class="navbar-brand">Profile</a>
                </div>  
               
                <div>
                    <a href="{%url 'submit-project'%}" style="color:white" class="navbar-brand">Post Project</a>
                </div> 
                
            <div>
                <a href="{%url 'django_registration_register'%}" style="color:white" class="navbar-brand">Sign Up</a>
                </div> 
 
                <div>
                    <a href="{%url 'login'%}"class="navbar-brand" style="color:white" >Login</a>
                </div>
               
                <div>
                    <a href="{%url 'logout'%}"class="navbar-brand" style="color:white" >Logout</a>
                </div>
            </div> 
            <!-- Adding a search form -->
            <div class="col-sm-4 col-md-4 navbar-right">
                <form action="{% url 'search_results' %}" class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="test" class="form-control" placeholder="Search Projects by name" name="project">
                        <div class="input-group-btn">
                            <button class="btn btn-default" style="color:white" type="submit"><i class="glyphicon glyphicon-search"></i>Search</button>
                        </div>

                    </div>
                </form>
                
            </div>
            <!-- search form end -->
           
        </div>
       
    </nav>
    </div>
</body>
</html>